body {
font-family: arial, helvetica, sans-serif;
overflow-x: hidden;
/* background-image: url("https://cdn.pixabay.com/photo/2017/08/30/09/07/pattern-2696389_960_720.jpg"); */
}

h1 {
  font-size:36px;
  text-align: center;
}
h1:hover {
animation: spin 3s ease-in both;
animation-timing-function: linear;
animation-iteration-count: infinite;

}
@keyframes spin {
from{transform: rotate(0.turn)
color:black;
}
to{
transform: rotate(1.0turn);
color:red;
}
}

#phone {
  /*Could have used display: flexbox to fit all evenly*/
  display: inline-block;
  text-align: left;
  font-weight: bold;
  width: 33%;
  transition-property: font-size;
  transition-duration:2s;
}
#phone:hover {
    font-size: 36px;
}
#email {
  display: inline-block;
  text-align: center;
  width: 33%;
  font-weight: bold;
  transition-property: font-size;
  transition-duration:2s;
}
#email:hover {
    font-size: 36px;
}
#website {
  display: inline-block;
  text-align: right;
  width: 31%;
  font-weight: bold;
  transition-property: font-size;
  transition-duration:2s;
}
#website:hover {
    font-size: 36px;
}

#header {
  font-size:24px;
}

.header {
  font-size:24px;
  font-weight: bold;
}

hr {
border: 1px solid black;
border-color: #5F9EA0;
}

.workPlace p {
display: inline-block;
font-weight: bold;
}

.date {
padding-left: 40px;
font-style: italic;
}

.info {
color: 	#686868;
}

div.contact {
  border-radius: 20px;
  background: #5F9EA0;
  width: 100%;
  height: 100%;
}

#phone{
padding-left:10px;
}

